body {
  color: #555555;
}

h1, h2, h3, h4 {
  color: #444444;
}

a,
a:hover,
a:visited,
a:link {
  color: #4a9aba !important;
  text-decoration: none;
}

.content a,
.content a:hover,
.content a:visited,
.content a:link {
  color: #4a9aba !important;
}

.social a {
  color: #555555 !important;
}

.social a:hover {
  color: #222222 !important;
}

#nav a {
  color: #555555 !important;
}

#nav a:hover {
  color: #222222 !important;
}

.site-title a {
  color: #333333 !important;
}
